<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="buber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <buber.Properties.Settings>
            <setting name="in_files" serializeAs="String">
                <value />
            </setting>
            <setting name="out_files" serializeAs="String">
                <value />
            </setting>
            <setting name="mask" serializeAs="String">
                <value>RS</value>
            </setting>
            <setting name="double_files" serializeAs="String">
                <value>(old)</value>
            </setting>
            <setting name="cycle" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="check_double" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check_cycle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoprint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unpack_files" serializeAs="String">
                <value />
            </setting>
            <setting name="unpack_auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autocad_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="program_dir" serializeAs="String">
                <value />
            </setting>
        </buber.Properties.Settings>
    </userSettings>
</configuration>